html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(45deg, #c4c4c4, #c4c4c4);
  font-family: sans-serif;
  font-weight: 100;
}

table {
  width: 1120px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: center;
}
thead th {
  background-color: #8f5555;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}



.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 5px 5px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 3px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498db;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #e74c3c;
	border-bottom: 5px solid #c0392b;
	text-shadow: 0px -2px #c0392b;
}

.green
{
	background-color: #2ecc71;
	border-bottom: 5px solid #27ae60;
	text-shadow: 0px -2px #27ae60;
}

.yellow
{
	background-color: #f1c40f;
	border-bottom: 5px solid #f39c12;
	text-shadow: 0px -2px #f39c12;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}